<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter Title"><br>
        <textarea type="text" name="listing[description]" placeholder="Enter Description"></textarea><br>
        <input type="text" name="listing[price]" placeholder="Enter Price"><br>
        <input type="text" name="listing[image]" placeholder="Enter image/URL"><br>
        <input type="text" name="listing[country]" placeholder="Enter Country"><br>
        <input type="text" name="listing[location]" placeholder="Enter Location"><br>
        <button>ADD</button>
    </form>
</body>
</html>